@charset "utf-8";

body {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 50px 0;
    text-align: center;
}

.p-form__user,
.p-form__email,
.p-form__password,
.p-form__confirm {
    margin: 30px 0;
}

.p-form__user--box,
.p-form__email--box,
.p-form__password--box,
.p-form__confirm--box {
    width: 100%;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.p-login .btn-toolbar,
.p-register .btn-toolbar {
    justify-content: space-around;
}

.p-create .form-control,
.p-create .form-select,
.p-edit .form-control,
.p-edit .form-select {
    width: 80%;
}

.p-search {
    margin-bottom: 60px;
}

.p-search__keyword,
.p-search__company {
    float: left;
}

.p-list th,
.p-list td {
    vertical-align: middle;
}

.p-list img,
.p-detail img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.p-list p {
    margin: 0;
}

.p-list .pagination {
    justify-content: center;
}

.p-create div,
.p-edit div {
    margin-bottom: 30px;
}

.p-create div:last-of-type,
.p-edit div:last-of-type {
    margin-bottom: 50px;
}

.p-detail__form {
    display: flex;
}

.p-create label,
.p-edit label {
    width: 150px;
}

.p-create span,
.p-edit span {
    color: red;
}

.p-edit img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
