@charset "utf-8";

body {
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 50px 0;
    text-align: center;
}

.p-login .btn-toolbar,
.p-register .btn-toolbar {
    justify-content: space-around;
}

.p-search {
    margin-bottom: 60px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.p-list th,
.p-list td {
    vertical-align: middle;
}

.p-list img,
.p-detail img,
.p-edit img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.p-list .pagination {
    justify-content: center;
}

.p-create div:last-of-type,
.p-edit div:last-of-type {
    margin-bottom: 50px;
}

.p-create label,
.p-edit label {
    width: 150px;
}

.p-create span,
.p-edit span {
    color: red;
}

textarea {
    resize: none;
}
